.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    padding-bottom: 5vw;
  }
 .divc{
  margin-top: 120px;
  margin-left: 10%;
  margin-right: 5%;
 }