:root {
  /* Colours */
  --color-text: #ffffff;
  --color-primary: #FFB22C;
  --color-secondary: #08303394;
  --color-dark: #1230AE;
  --color-bg: #6439FF;

  /* Fonts */
  --font-roboto: "Roboto";
}
