:root {
  /* Colours */
  --color-text: #ffffff;
  --color-primary: #ffbd00;
  --color-secondary: #08303394;
  --color-dark: #6a4c93;
  --color-bg: #390099;

  /* Fonts */
  --font-roboto: "Roboto";
}
